#top-nav{
    position:fixed;
}

#sach_form{
    border:1;
    border-radius:50px;
    background-color:#6a89cc;
    text-align:center;
    margin:5% 0% 5% 0%;
}


.top_space{
    margin-top:5%;
} 
.btm{
    border-bottom:2px solid;
    border-color:black;
}

html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow-x:hidden;
}

.full-height {
    height: 100vh;
}

.curve{
    border-radius:5%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.right{
    float:right;
}

.rt-al{
    text-align:right;
}

.lt-al{
    text-align:left;
}

.left{
    float:left;
}

.blue{
    background:#34ace0;
    color:white;
}

.green{
    color:green;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.black{
    color:black;
}

.orange{
    color:orange;
}

.red{
    color:red;
}
.foot{
    font-size:100%;
}

.white{
    color:white;
}

.theme{
    background-color:#34ace0;
}

.white-bg{
    background: white;
}

.orange-bg{
    background: orange;
}

.c_thru{
    background:transparent;
    border:0;
}

.center{
    text-align:center;
}

.full{
    width:100%;
}
.top-space{
    padding-top:10%;
}
.btm-space{
    padding-bottom:10%;
}
.right-space{
    margin-right:10%;
}
 #right-topbar button{
    margin-top:3%;
 }

.p-top{
    padding-top:5%;
}

.p-right{
    padding-right:5%;
}


.left-space{
    padding-left:10%;
}

.left-mg{
    margin-left:30%;
}

.contain{
    margin:1% 5% 1% 5%;
    padding: 1% 4% 1% 4%;
}


#navbar
{
    background:#a29bfe;  
    opacity:0.9 ;  
}

#right-topbar button
{
    color:white;
    background:#5f27cd;
}

#right-topbar button:hover {
    margin-top:5%;
    background-color: #2980b9;
    color: white;
}

#messages_btn button:hover {
    background-color:  #2980b9;
    color: white;
}



#hostel_btn_list{
    list-style:none;
}

#apts_btn_list{
    list-style:none;
}

#service_btn_list{
    list-style:none;
    text-align:left;
    padding-left:10px;
}

#accoms_list{
    list-style:none;
}

#sidebar
{
    margin-top:2%;
    width:50%;
}


/* Sidebar links */


/*icons*/
.sidebar i {
    color: black;
}


.sidebar button {
    width:145px;
    margin:0% 3% 0% 3%;
}
/* Active/current link */
#active {
  background-color: #34ace0;
  color: white;
}


.sidebar button:hover:not(.active) {
  background-color:  #2980b9;
  color: white;
}

#abt
{
    margin-top:0%;
}

#bud
{
    background:#c8d6e5;  
}

#how
{
    color:#1B1464;
}







/*********************************************rpvns******************************************************/

/* On screens that are less than 700px wide, topbar */
@media only screen and (max-width: 700px) {
    .top_space{
        margin-top:5%;
    } 


    #right-topbar{
        padding-bottom: 5%;
    }

   

    .left-space{
        padding-left:2%;
    } 

    .sidebar button{
        margin:5%;
    }

    #sidebar
    {
        width:80%;
    }

              
}




/* On screens that are less than 850px wide, topbar */
@media only screen and (max-width: 850px) {
    .top_space{
        margin-top:5%;
    } 


    #right-topbar{
        padding-bottom: 5%;
    }

   

    .left-space{
        padding-left:2%;
    } 

    .sidebar button{
        margin:5%;
    }

    #navbar
    {
        width:110%;
        height:20%;
    }

              
}

/* On screens that are less than 400px,topbar */
@media only screen and (max-width: 400px) {
    .top_space{
        margin-top:5%;
    } 

    #right-topbar{
        padding-bottom: 5%;
    }

    .left-space{
        padding-left:2%;
    } 

    #settings_btn{
        float:right;
    }

    .contain{
        padding:2%;
    } 

    #navbar
    {
        height:25%;  
    }            

}